.contacts-grid-pagination{
    text-align:right;
}

.save_btn_group {
    padding-top: 20px;
}
.button-expand{
    display: none;
}
.custom_table_brake{
	table-layout: fixed;
    word-wrap: break-word;
}
.disabledTab{
    pointer-events:none;
    opacity: .5;
}
